.jumbotron{
    background-image: url("https://www.communications.uwo.ca/img/banners/bnr-greencampus-1920x600-a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-item:hover{
    background-color: #bbbbbb;
}

.container{
display: grid;
grid-template-columns: auto;
background-color: lightpink;
    border: 3px;
    padding: 5px;
    font-size: 10px;
    text-align: left;    
}

